ul {
  list-style: none;
}

.main__content {
  display: flex;
  margin: auto;
  width: 1280px;
}

.main__tabs {
  display: flex;
}

.main__block {
  width: 600px;
  height: 912px;
  text-align: left;
  float: left;
}

.main__ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ingredients__container {
  height: 716px;
  overflow-y: auto;
  overflow-x: hidden;
}

.assembly__box {
  margin-top: 40px;
}

.set__box span {
  color: #F2F2F3; 
}

.assembly__box span {
  margin-top: 40px;
  color: #F2F2F3;
}

.order__container {
  padding-left: 16px;
  padding-right: 16px;
  height: 464px;
  overflow-y: auto;
  overflow-x: hidden;
}

.order__footer {
  height: 164px;
  padding-top: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.order__footer span {
  position: relative;
  padding-right: 84px;
  padding-top: 10px;
  font-size: 48px;
  vertical-align: middle;
}

.order__footer svg {
  position: absolute;
  right: 41.5px;
  top: 18px;
}

.order__footer button {
  float: right;
  height: 64px;
}


::-webkit-scrollbar {
  height: 664px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F2F37;
}

::-webkit-scrollbar-thumb {
  background: #8585AD;
}