ul {
  list-style: none;
}

.main__content {
  display: flex;
  margin: auto;
  width: 1280px;
}

::-webkit-scrollbar {
  /* height: 664px; */
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F2F37;
}

::-webkit-scrollbar-thumb {
  background: #8585AD;
}