body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.constructor-element {
  display: block !important;
  margin-left: auto;
}

.constructor-element__price {
  margin-left: auto;
}

.constructor-element__text {
  margin-right: 17px !important;
}

.constructor-element_pos_bottom {
  margin: 0;
  margin-left: 20px;
}

.constructor-element_pos_top {
  margin: 0;
  margin-left: 20px;
}

.input_size_default {
  width: 480px!important;
}

.input__container {
  margin-bottom: 24px;
}